:root{
    --colorRojoOscuro: #B52128;
}
@font-face{
    font-family: 'muli';
    src: url('../fuentes/Muli-Regular.ttf');
}
body{
    font-family: 'muli';
}

.nav2{
    background-color: white;
    float: none;
    text-align: center;
    min-height: 80px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow:0 3px 5px 0px rgba(15,15,15,.25);
    border:none;
}
.enlaces-person{
    background-color: white;
    padding: 10px 0 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0;
    margin-right: 100px;
}
.enlaces-person>li>a{
    color: black;
    font-weight: 600;
    letter-spacing: normal;
    font-size: 16px;
}
.logo {
    margin: 0;
    
    padding: 15px 15px;
    height: 60px;
    width: 160px;
}
.logo img{
   width: auto;
}
.cabezera-principal{
   
    background-color: white;
    box-shadow:0 3px 0px 0px rgba(15,15,15,.25);
    
    
}



.barra>.icon-bar{
 background-color: black;
}
.banner-principal{
    width: 100%;
    height: 500px;
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-principal .container{
    background-color: rgba(15,15,15,.5);
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner-principal .container h1{
    color: white;
    font-size: 55px;
    
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: normal;
    margin-bottom: 20px;

}
.banner-principal .container p{
    font-size: 20px;
}
.form-texto{
    margin-top: 5%;
    margin-bottom: 5%;
}
.form-texto .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.formulario{
    padding: 7%;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.06);
}
.textos-confe{
    padding: 50px;
}
.textos h3{
    font-size: 20px;
    color:#00C9B7;
    margin-bottom: 20px;
}
.textos h2{
    color: #000;
    font-size: 40px;
    
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: normal;
    margin-bottom: 20px;

}
.textos p{
    font-size: 17px;
    margin-bottom: 20px;
}
.grupo{
    
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 25px;

}
.grupo input{
    min-height: 47px;
}
.grupo input, .grupo textarea{
    background-color: #fafafa;
    border-width: 0;
    border-radius: 5px 5px 5px 5px;
}
.btn-enviar{
    
    text-decoration: none;
    text-align: center;
    
    padding: 10px 20px;
    font-family:'Nunito',Sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
    
    color: #fff;
    background-color: #00C9B7;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.btn-enviar:hover{
    color: white;
}
@media screen and (max-width:768px){
    .formulario{
        padding: 9%;
        width: 80%;
    }
    .form-texto .container .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .textos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


.vamos-a-quedar h2{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    color: #000;
    
    
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: normal;
    
}
.logo-small{
    font-size: 50px;
    color: var(--colorRojoOscuro);
}
.datos .col-sm-4{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.06);
    border-radius: 15px 15px 15px 70px;
    padding: 20px;
}
.datos{
    margin-bottom: 50px;
}
.experimento{
    
    
    background-color: transparent;
    /* background-image: linear-gradient(to right, rgba(156,39,45,.9), rgba(162,42,43,.9), rgba(168,46,41,.9), rgba(174,50,39,.5), rgba(179,54,36,.3));  */
    background-image: linear-gradient(to right, #9c272d, #a22a2b, #a82e29, #ae3227, #b33624);
   padding: 0 0  50px;
    
    
   
}

.container-experimento{
    height: 100%;
    width: 100%;
     
    background-image: url(../img/backgroundseccionservicios.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: .15;
}
.container-experimento{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; 
    position: absolute;
}
.experimento2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.experimento2 .row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textos-experimento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
}
.textos-experimento h2{
    
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: normal;
}
.textos-experimento p{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.46;
}
.textos-experimento a{
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    
    padding: 10px 35px;
    font-family:'Nunito',Sans-serif;
    font-size: 21px;
    font-weight: 300;
    text-transform: capitalize;
    
    color: #fff;
    background-color: #00C9B7;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.img-experimento img{
    border-radius: 300px 100px 100px 100px;
}
.wave{
    background-image: linear-gradient(to right, #9c272d, #a22a2b, #a82e29, #ae3227, #b33624);
    border: none;
}
.wave svg{
    border: none;
}
@media screen and (max-width:768px){
    .experimento2 .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .textos-experimento{
        margin-bottom: 40px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:395px){
    .textos-experimento{
        margin-bottom: 40px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
/* codigoefecto */
.slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  } 
  footer{
      padding: 30px 0;
      background-color: #edf6ff;
      text-align: center;
      
  }
  footer p{
      font-size: 20px;
      margin-bottom: 20px;
  }
  
  .redes{
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  /* .alerta-correo{

      display: none;
  } */
